body{
  background-color: #b9fffc;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

hr{
  border: 2px solid black;
}

h1{
  color: black;
  text-align: center;
}

.try{
  background-color: black;
  position: relative;
}

.top-logo{
  display: block;
  margin-top: 60px;
}

.space{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10%;
}

.mtvlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.mtvlogo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.title-logo{
  width: 250px;
  margin-left: 700px;
}

.skills{
  color: black;
  text-align: center;
}

.foot{
  text-align: center;
}

.title{
  font-family: 'Anton', sans-serif;
}

.history{
  margin-left: 50px;
  margin-right: 50px;
  line-height: 2;
  text-indent: 50px;
}

.original5{
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 10%;
}

.Iwant{
  display: block;
  width: 20%;
  margin: auto;
  border-radius: 10%;
}

.vma{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 10%;
}

.yo{
  display: block;
  margin: auto;
  border-radius: 10%;
}

.spring-break{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 10%;
}

.color{
  color: #3282b8;
}

.top{
   padding-bottom: 25px;
}

.bottom{
   padding-top: 125px;
   padding-bottom: 50px;
}

.daisy{
  display: inline-block;
  border-radius: 15%;
  margin-left: 75px;
  width: 20%;
}

.daisyhtml{
  text-align: center;
  font-size: 
}


.bill{
  display: inline-block;
  border-radius: 15%;
  padding-right: 20px;
  padding-left: 20px;
}

.carson{
  display: inline-block;
  border-radius: 15%;
  width: 25%;
}

.riki{
  display: inline-block;
  border-radius: 15%;
  padding-left: 20px;
  width: 25%;
}

.jesse{
  display: inline-block;
border-radius: 15%;
margin-left: 55px;
width: 24%;
}

.dre-lover{
  display: inline-block;
border-radius: 15%;
padding-left: 20px;
margin-left: 15px;
}

.julie{
  display: inline-block;
border-radius: 15%;
margin-left: 70px;
}

.duffy{
  display: inline-block;
border-radius: 15%;
margin-left: 85px;
}

.block{
  display: inline-block;
}

.line{
  border: 4px solid #c11c1c;
}
